<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Sebastian Boenisch</string>
	<string>Piszczek</string>
	<string>Szczesny</string>
	<string>Marcin Wasilewski</string>
	<string>Grzegorz Sandomierski</string>
	<string>Przemyslaw Tyton</string>
	<string>Wojciech</string>
	<string>Pawel Brozek</string>
	<string>Robert Lewandowski</string>
	<string>Artur Sobiech </string>
	<string>Ludovic Obraniak</string>
	<string>Bayern Munich</string>
	<string>Heerenveen</string>
	<string>Stekelenburg</string>
	<string>Tim Krul</string>
	<string>Michel Vorm</string>
	<string>Newcastle</string>
	<string>Maarten </string>
	<string>Robben</string>
	<string>Khalid Boulahrouz</string>
	<string>Wilfred Bouma</string>
	<string>Mark van Bommel</string>
	<string>John Heitinga</string>
	<string>Joris Mathijsen </string>
	<string>Eindhoven</string>
	<string>Gregory van der Wiel </string>
	<string>Robin van Persie</string>
	<string>Malaga</string>
	<string>Luciano Narsingh</string>
	<string>Dirk Kuyt</string>
	<string>Everton</string>
	<string>Feyenoord</string>
	<string>Ajax Amsterdam</string>
	<string>Eindhoven</string>
	<string>Stuttgart</string>
	<string>Ron Vlaar</string>
	<string>Jetro Willems</string>
	<string>Luuk de Jong</string>
	<string>Klaas Jan Huntelaar</string>
	<string>Rafael van der Vaart</string>
	<string>Kevin Strootman</string>
	<string>Gianluigi Buffon</string>
	<string>Wesley Sneijder</string>
	<string>Nigel de Jong</string>
	<string>Morgan De Sanctis</string>
	<string>Salvatore Sirigu</string>
	<string>Stipe Pletikosa</string>
	<string>Tomislav Dujmovic</string>
</array>
</plist>
